.navbar {
    background-color: white;
    color: white;
    height: 25px;
}

.mat-button {
    color: white;
}

.spacer {
    flex: 2 2 auto;
    float: right;
    text-align: right;
    font-size: 15px;
}