.mat-form-field .mat-form-field-infix {
    height: 16px;
}

input.mat-input-element {
    padding-bottom: 2px;
    font-size: 12px;
    color: red;
}

.example-button-row {
    display: table-cell;
    max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
}