<p><mat-label style="color:red;">{{message}}</mat-label></p>
<div>
    <form [formGroup]="loginForm">
        <div class="row col-md-5" style="margin: auto;width: 50%;">
            <div>
                <mat-form-field class="example-full-width">
                    <mat-label>Username</mat-label>
                    <input matInput id="username" formControlName="username">
                </mat-form-field>
                <div *ngIf="submitted && loginForm.controls['username'].errors?.['required']" class="text-danger">
                    Username is required.
                </div>
            </div>
            <div style="clear: both;"></div>
            <div>
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput id="inputPassword" formControlName="password">
                </mat-form-field>
                <div *ngIf="submitted && loginForm.controls['password'].errors?.['required']" class="text-danger">
                    Password is required.
                </div>
                <div class="text-red-400 text-sm" *ngIf="submitted && passwordFormField?.dirty">
                    <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('^(?=.*[A-Z])')}">At
                        least oneu ppercase
                        letter.</span>
                    <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('(?=.*[a-z])')}">At
                        least one lowercase
                        letter.</span>
                    <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('(.*[0-9].*)')}">At
                        least one
                        digit.</span>
                    <span class="block"
                        [ngClass]="{'text-primary': passwordFormField?.value?.match('(?=.*[!@#$%^&*])')}">At least one
                        special
                        character.</span>
                    <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('.{8,}')}">At least
                        8 characters
                        long.</span>
                </div>
            </div>
            <div style="clear: both;"></div>
            <div style="margin: auto;width: 50%;">
                <div class="buttons text-center" style="float: left;">
                    <button mat-flat-button type="submit" (click)="onLogin()">Login</button>
                </div>
                <div class="buttons text-center">
                    <button mat-flat-button type="submit" (click)="logOut()">Logout</button>
                </div>
            </div>
        </div>
    </form>
</div>